.cabecalho_menu-hamburger{
    width: 24px;
    height: 24px;
    background-image: url(../img/hamburgermenu_120234.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
}
.container_imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    width: 60vw;
}
.container_imagem{
    width: 123px;
}
.container_botao{
    display: none;
}
.container_botao:checked~.lista-menu{
    display: block;
}
.lista-menu_item{
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.lista-menu_titulo, .lista-menu_item{
    padding: 1em;
    background-color: white;
}
.titulo_cabecalho{
    display: none;
}

@media screen and (min-width: 1024px) {
    .titulo_cabecalho{
        font-size: 30px;
        font-family: var(--font-secundaria);
        color: white;
        display: block;
        padding-top: 1em;
    }
}